@import url('http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' ,sans-serif;
    background-color: #060B0F !important;
    background-size: auto;
    background-image: url(assets/asfalt-light.png) !important;
    background-position: center;
    background-repeat: repeat;
}
.banner header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    z-index: 10000;
}
.text {
    color:#fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;

}

.banner header .logo{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.timeline:before{
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}

.timeline{
    position: relative;
    margin: 50px auto;
    width: 1000px;
    padding: 40px 0;
    border: border-box;
}

.timeline ul {
    margin: 0;
    padding:0;
}

.timeline ul li{
   list-style: none;
   position: relative;
   width: 50%;
   padding:20px 40px;
   box-sizing: border-box;
}

.timeline li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}


.timeline li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
}
.content{
    padding-bottom: 20px;
}
.timeline li:nth-child(odd):before{
    content: '';
    position: absolute;
    width: 10px;
    right: -6px;
    top: 24px;
    height: 10px;
    background: rgba(255,162,0,1);
    border-radius:50% ;
    box-shadow: 0 0 0 3px rgba(255,162,0.0.2);
}

.timeline li:nth-child(even):before{
    content: '';
    position: absolute;
    width: 10px;
    top: 24px;
    left: -4px;
    height: 10px;
    background: rgba(255,162,0,1);
    border-radius:50% ;
    box-shadow: 0 0 0 3px rgba(255,162,0.0.2);
}

.timeline ul li h3{
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: rgba(255,162,0,1);
}

.timeline ul li p{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
}

.timeline ul li .time h4{
    margin: 0;
    padding: 0;
    font-size: 14px;


}

.timeline li:nth-child(odd) .time{
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(255,162,0,1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(255,162,0,1);;
}

.timeline li:nth-child(even) .time{
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(255,162,0,1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(255,162,0,1);;
}
h1{
    padding-top: 100px;
    text-align: center;
    font-size: 40px;
    color: #ffa200;
}
 
@media(max-width:1000px){
    .timeline{
        width: 100%;
    }
}

@media(max-width: 767px){
    
    h1{
    text-align: center;
    font-size: 40px;
    padding: 0 20px;

}

    .timeline{
        width: 100%;
        padding-bottom: 0;

    }

    .timeline:before{
        left: 20px;

    }
    .timeline li:nth-child(odd),
    .timeline li:nth-child(even){
        width: 100%;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;
    }
    .timeline li:nth-child(odd):before,
    .timeline li:nth-child(even):before{
        top: -18px;
        left: 16px;
    }
    .timeline li:nth-child(odd) .time,
    .timeline li:nth-child(even) .time{
        top: -30px;
        left: 50px;
        right: inherit;

    }
}


